<%if @user%>
  Hi, <%=@user.name%>
<%end%>
<%flash.each do |key, value|%>
  <%= value %>
<%end%>
<h1>Listing users</h1>

<table>
  <tr>
    <th>Email</th>
<!--     <th>Name</th>
 -->    <th></th>
  </tr>

  <%@users.each do |user|%>
  <tr>
    <td><%=user.email%></td>

    <td><%= link_to 'Show', user_path(user)%></td>
  </tr>
  <%end%>
</table>

<%= current_user ? (link_to "logout", destroy_user_session_path, method: :delete) : (link_to "login", new_user_session_path) %>